/* * { background-color: rgba(0, 255, 255, 0.232);} */

@media(max-width:599px){
    .onlyDesktop {
        display: none;
    }
}

@media(min-width:600px){
    .onlyMobile {
        display: none;
    }
}



/* global form styles */

.tableOfContents a {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
}
.tableOfContents li {
    margin-top: .5rem;
}


.formRow {
    margin-bottom: var(--space-xs);
}
.formError {
    display: block;
    font-weight: 500;
    margin-top: .5rem;
    color: tomato;
}

.form input {
    padding: .75rem 1rem;
    border: 1px solid var(--primary);
    font-size: var(--default-font-size);
    font-family: var(--default-font-family);
    outline: none;

    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
.form input[type="text"] {
    width: 100%;
}
.form input[type="submit"],
.form .button {
    cursor: pointer;
    padding: .75rem 2rem;
    background-color: var(--primary);
    font-size: var(--default-font-size);
    font-family: var(--default-font-family);
    color: white;
    border: 1px solid var(--primary);
    transition: all 400ms ease-in-out;
}
.form input[type="submit"]:hover,
.form .button:hover {
    background-color: var(--dark);
    border-color: var(--dark);
    transition: all 200ms ease-in-out;
}

.form input[type="text"]:focus {
    border-color: tomato;
}



/* search form */

.searchForm input,
.searchForm .button {
    padding: .75rem 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--primary);
    font-size: var(--default-font-size);
    font-family: var(--default-font-family);
    outline: none;

    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
.searchForm input[type="text"] {
    width: 100%;
}


@media(hover:hover) {
    .searchForm .button {
        cursor: pointer;
    }
    .searchForm .button img {
        transition: all 150ms ease-in-out;
    }
    .searchForm .button:hover img {
        transform: scale(1.05);
        transition: all 300ms ease-in-out;
    }
}


/* auto-complete text color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--dark) inset !important;
}
/* auto-complete background color */
input:-webkit-autofill{
    -webkit-text-fill-color: white !important;
}



/* checkboxes */

/* Customize the label (the container) */
.searchFormRow {
    display: block;
    position: relative;
    padding-left: 2.5rem;
    margin-bottom: var(--space-sm);
    cursor: pointer;
    user-select: none;
}

.searchFormRow:not(:last-child) {
    margin-bottom: 1.5rem;
}

/* Hide the browser's default checkbox */
.searchFormRow input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.25rem;
    width: 1.25rem;
    border: 1px solid var(--primary);
    background-color: transparent;
}

/* On mouse-over */
.searchFormRow:hover input~.checkmark {
    /* background-color: var(--primary); */
}

/* When the checkbox is checked */
.searchFormRow input:checked~.checkmark {
    background-color: var(--primary);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.searchFormRow input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.searchFormRow .checkmark::after {
    left: 7px;
    top: 3px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}


/* clear button */

.clearButton {
    background-color: var(--primary);
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    color: white;
    font-size: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
@media(hover:hover) {
    .clearButton {
        cursor: pointer;
        transition: all 150ms ease-in-out;
    }
    .clearButton:hover {
        background-color: var(--secondary);
        transition: all 300ms ease-in-out;
    }
}