@media(max-width:599px){
    .onlyDesktop {
        display: none;
    }
}

@media(min-width:600px){
    .onlyMobile {
        display: none;
    }
}



.tableOfContents a {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
}
.tableOfContents li {
    margin-top: .5rem;
}