.layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-sm);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media(min-width:1200px){
    .layout {
        grid-template-columns: 1fr 1fr;
    }
}

.layout:not(:last-child) {
    padding-bottom: var(--space-sm);
    border-bottom: 1px solid var(--light);
    margin-bottom: var(--space-sm);
}