.ls-1 { letter-spacing: .1rem; } 
.ls-2 { letter-spacing: .2rem; } 
.ls-3 { letter-spacing: .3rem; } 
.ls-4 { letter-spacing: .4rem; } 
.ls-5 { letter-spacing: .5rem; } 
.ls-6 { letter-spacing: .6rem; } 
.ls-7 { letter-spacing: .7rem; } 
.ls-8 { letter-spacing: .8rem; } 
.ls-9 { letter-spacing: .9rem; } 
.ls-10 { letter-spacing: 1rem; } 