.minvh-10 { min-height: 10vh;}
.minvh-20 { min-height: 20vh;}
.minvh-30 { min-height: 30vh;}
.minvh-40 { min-height: 40vh;}
.minvh-50 { min-height: 50vh;}
.minvh-60 { min-height: 60vh;}
.minvh-70 { min-height: 70vh;}
.minvh-80 { min-height: 80vh;}
.minvh-90 { min-height: 90vh;}
.minvh-100 { min-height: 100vh;}