.layout {
    display: inline-flex;
    gap: 0.5rem;
}
.layout:not(:last-child) {
    margin: 0 2rem 0 0;
}


.chart {
    width: 4rem;
}
.values {
    text-align: right;
}


@media (min-width: 1300px) {
    .chart {
        width: 5rem;
    }
}
@media (min-width: 1600px) {
    .chart {
        width: 6rem;
    }
}




/* hide chart on narrow viewports */

@media (max-width: 800px) {
    .chart {
        display: none;
    }
}
@media (max-width: 900px) and (orientation: portrait) {
    .layout{
        width: 100%;
        justify-content: space-between;
    }
    .chart {
        display: none;
    }
    .currency,
    .values {
        display: flex;
        align-items: center;
        gap: var(--space-xs);
    }
}



/* hide on narrow screens */

@media(max-width:399px) {
    .handle {
        display: none;
    }
}