.layout {
    display: inline-flex;
    gap: 0.5rem;
    
}
.layout:not(:last-child) {
    margin: 0 2rem 0 0;
}

@media (max-width: 599px) {
    .layout {
        max-width: 50vw;
    }
}

.currency {
    /* min-width: 6rem; */
}

.values {
    text-align: right;
}