.title {
    display: block;
    text-decoration: none;
}

@media(hover:hover) {
    .title {
        transition: all 400ms ease-in-out;
    }
    .title:hover {
        cursor: pointer;
        color: var(--primary);
        transition: all 200ms ease-in-out;
    }
}


.hero {
    position: relative;
    overflow: hidden;
    margin-bottom: var(--space-xs);
}
.hero img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (min-width:1200px) {
    .hero {
        max-height: 40vh;
    }
}