.uLink {
    text-decoration: none;
    padding-bottom: 4px;
    margin-bottom: -2px;
    
    background-image: linear-gradient(var(--primary), var(--primary));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

@media (min-width:600px) {
    .uLink:hover {
        background-size: 100% 2px;
    }
}
.uLink.here {
    cursor: default;
    background-size: 100% 2px;
}