.button {
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	font-family: var(--default-font-family);
	padding: .75rem 2rem;
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: white;
	transition: all 500ms ease-in-out;
}
.outline {
	background-color: transparent;
	color: var(--default-text-color);
}
.inverse.outline {
	color: var(--primary);
}

@media(hover:hover){
	.button:hover {
		background-color: var(--dark);
		border-color: var(--dark);
		transition: all 225ms ease-in-out;
	}
	.outline:hover {
		background-color: var(--primary);
		border-color: var(--primary);
		color: white;
	}
	.inverse:hover {
		background-color: white;
		color: var(--primary);
	}
	.inverse.outline:hover {
		background-color: var(--primary);
		color: white;
	}
}
